:root {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    --primary-color: #F7D5C1;
    --secondary-color: #ABA8F7;
    --dark-purple: #6663AB;
    --neon-green: #A3F78F;
    --dark-green: #71AB64;
}

body {
    background-color: var(--primary-color)
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#display-user {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". user-photo user-grid-area . ";
    border-top: 10px solid var(--secondary-color);
    border-bottom: 10px solid var(--secondary-color);
}

#user-grid-area {
    grid-area: user-grid-area;
    border-right: 10px solid var(--neon-green);
    max-width: 15rem;
    font-size: 1.3rem;
    padding: 1.4rem;
}

#user-photo {
    grid-area: user-photo;
    max-width: 11rem;
    margin-left: auto;
    margin-right: 1rem;
    padding: 1.4rem;
    border-left: 10px solid var(--neon-green);
}

.activity-grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". recent-activity popular-languages ."
    ;
    border-bottom: 10px solid var(--neon-green);
}

#recent-activity {
    grid-area: recent-activity;
    border-right: 10px solid var(--secondary-color);
}

#popular-languages {
    display: flex;
    align-items: center;
    grid-area: popular-languages;
}


#display-starred-repos {
    display: flex;
    align-items: center;
}

.pie-container {
    width: 25rem;
}

.hide {
    display: none;
}