:root {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    --primary-color: #F7D5C1;
    --secondary-color: #ABA8F7;
    --dark-purple: #6663AB;
    --neon-green: #A3F78F;
    --dark-green: #71AB64;
}

body {
    background-color: var(--primary-color);
    margin: 0;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

input[type=search] {
    border-radius: 4px;
    padding: 10px;
    width: 18%;
    border: 2px solid var(--secondary-color);
    font-size: 0.9rem;
    font-family: inherit;
    font-style: italic;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    font-style: normal;
    background-color: #f3f3f3;
    width: 25%;
}

#display-user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". user-photo-and-info . ";
    border-top: 10px solid var(--secondary-color);
    border-bottom: 10px solid var(--secondary-color);
}

#user-photo-and-info {
    grid-area: user-photo-and-info;
    background-color: var(--secondary-color);
    display: flex;
    border: 10px solid var(--neon-green);
}

#user-grid-area {
    grid-area: user-grid-area;
    max-width: 15rem;
    font-size: 1.3rem;
    padding: 1.4rem;
}

#user-photo {
    grid-area: user-photo;
    max-width: 14rem;
    /* margin-left: auto; */
    /* margin-right: 1rem; */
    padding: 1.4rem;

}

.activity-grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". recent-activity popular-languages ."
    ;
    border-bottom: 10px solid var(--neon-green);
}

#recent-activity {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: recent-activity;
    border-left: 10px solid var(--neon-green);
    border-right: 10px solid var(--secondary-color);
    /* background-color: var(--dark-green); */
}

#popular-languages {
    grid-area: popular-languages;
    /* background-color: var(--dark-purple); */
    display: flex;
    align-items: center;
    border-right: 10px solid var(--neon-green);
}


#display-starred-repos {
    display: flex;
    align-items: center;
}

.pie-container {
    width: 25rem;
}

.hide {
    display: none;
}